Zapazanja: 

-Sabiranje, oduzimanje, deljenje i mnozenje funkcionise kako treba i prati redosled operacija.

-deljenje sa 0 daje infinity.

-deljenje 0 sa 0 daje NaN.

-deljenje negativnog broja sa 0 daje "-infinity".

-Calculator prihvata broj kao sto je 0.0001, ali kada je to rezultat, ne ispisuje ga kao broj nego kao 1.00000005E-4.

-Iako moze da prikaze kao rezultat, ako koristimo "1.00000005E-4" za racunanje, dobijamo error.

-Najvisi rezultat dobijen je 1.0E38, sve preko toga prikazuje kao Infinity.

Nedostaci:

-koriscenje dva negativna broja daje error .
